# Add your environment variables below
# NextJS environment variable setup: https://nextjs.org/docs/app/building-your-application/configuring/environment-variables

# NEXT_PUBLIC_VAR="sample-value"
# PRIVATE_VAR="sample-value"

# Database (fetch from "storage" tab in vercel project)
POSTGRES_URL="pg_connection_string"
POSTGRES_PRISMA_URL="pg_prisma_connection_string"
PSTGRES_URL_NO_SSL="pg_no_ssl_connection_string"
POSTGRES_URL_NON_POOLING="pg_non_pooling_connection_string"
POSTGRES_USER="default"
POSTGRES_HOST="pg_host"
POSTGRES_PASSWORD="pg_password"
POSTGRES_DATABASE="verceldb"
